@font-face {
  font-family: 'Basteleur';
  src: local('☺'),
       url('fonts/Basteleur-Bold.woff') format('woff'),
       url('fonts/Basteleur-Bold.otf') format('opentype');
      font-style: normal;
}


@font-face {
  font-family: 'NectoMono';
  src: local('☺'),
       url('fonts/NectoMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Redaction10';
  src: local('☺'),
       url('fonts/Redaction10-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Redaction10-Bold';
  src: local('☺'),
       url('fonts/Redaction10-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ClashGrotesk';
  src: local('☺'),
       url('fonts/ClashGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('☺'),
       url('fonts/SpaceGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('☺'),
       url('fonts/SpaceGrotesk-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: local('☺'),
       url('fonts/SpaceGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ClashGrotesk-Bold';
  src: local('☺'),
       url('fonts/ClashGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ClashGrotesk-Medium';
  src: local('☺'),
       url('fonts/ClashGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ClashGrotesk';
  src: local('☺'),
       url('fonts/ClashGrotesk-Regular.otf') format('opentype');
}








.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



:root {
  --marin: #2a4073;
  --button: #0f2350;
  --title: #0f2350;
  --background: #fdfbf4;
  --backdrop: #fbfaf5;
  --greyed: #d8d8d6;
  --border:#17184b;
  --text: #0d0015;
  --tool: #f7fcfe;
  --card: #c0c6c9;
  --active: #ebeae4;


  --bg: #020e11;
  --box: #041114;
  --air: #f5f7ed;
  --bord: #E3EFF330;
  --crystal: #d6fb1f;
}

html{
  scrollbar-color: var(--marin) var(--backdrop);

  scroll-padding: 1.5rem;
}



html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}




body{
  letter-spacing: 0px;
  /*
  background: rgb(212,197,146);
  background: linear-gradient(0deg, rgba(212,197,146,1) 0%, rgba(234,224,190,1) 35%);
  */
  margin: 0.5rem;
  overscroll-behaviour:none;
  font-size: .875rem;
  line-height: 1.4;
  background-color: var(--bg);
}
}



@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 1s;
  z-index: 1000; /* Ensure it's above other content */
}

.navbar.hidden {
  top: -10rem; /* Adjust according to your navbar height */
}





.hero-heading {
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--title);
  font-variation-settings: "wght"625;
  letter-spacing: -.025em;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
}

.hero-heading-gal {
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--title);
  font-variation-settings: "wght"625;
  letter-spacing: -.025em;
  margin:5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
}



.heading{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 0;
}


.heading h1{
  font-family: "Schibsted Grotesk", sans-serif;
  letter-spacing: -.025em;
  color: var(--title);
  font-size: 4rem;
  margin: 0;


}


.topbar h2{
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 20px;
  color: var(--background);
  font-weight: 100;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 7px;
  letter-spacing: -.025em;
  font-variation-settings: "wght"625;
}


h2{
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--background);
  letter-spacing: -.025em;
  font-variation-settings: "wght"625;
}

h3{
  font-family: 'Redaction10';
  font-size: 42px;
  margin-top: 0;
  font-weight: 100;
  color: var(--marin);
}

h4{
  font-family: 'Redaction10';
  font-size: 120px;
  margin-top: 0;
  font-weight: 100;
  color: var(--marin);

}


.rem{
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}


hr{
  width: 70%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, var(--bord), var(--air), var(--bord));
  margin-top: 3rem;
  margin-bottom: 3rem;
}




.topbar {
  border-radius: 1em 1em 0em 0em;
  border-style: solid ;
  border-width: 0.1em;
  border-bottom: 0px;
  width: 64%;
  margin:0 auto;

  /*
  background-image:linear-gradient(-15deg, #F66D33, #f5b53a, #1888c6);
  animation: change 10s ease-in-out infinite;
  background-size: 200% 200%;
  */
  background-color: var(--marin);
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.6em 0em inset, rgba(61, 87, 145, 1) 0em 0.3em 0em inset;


}



.header {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000;
  width: 55%;
  margin:0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-block{
  height: 5rem;
}

.header a{
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 1.4rem;
  margin: 0px;
  text-decoration: none;
  letter-spacing: -.025em;
  color: var(--air);
}

.header svg{
  width:3.5rem;
  height:3.5rem;
  margin-bottom: 0px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  fill:var(--air);
  fill-rule:nonzero;
  filter: drop-shadow(0 0 1.2rem var(--bg));
}

.main {
  width: 55%;
  margin:0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-color: var(--air);
}

.main h1{
  font-family: "ClashGrotesk-Bold", sans-serif;
  font-size: 2.25rem;
  margin:0;
  margin-bottom: 0.15rem;
  letter-spacing: 0.02em;
  color:var(--crystal);
  font-weight: normal;
}


.main a{
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 1.4rem;
  margin: 0px;
  text-decoration: none;
  letter-spacing: -.025em;
  color: var(--air);
}

.more{
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25rem;
  margin-left: 2rem;
  color: var(--air);
  padding: 0.5em;
  border-style:solid;
  border-width: 0.1em;
  border-radius: 1em;
  border-color: var(--air);
}

.main p{
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 1rem;
  margin: 0px;
  color: var(--air);
  line-height: 1.4;
  letter-spacing: -.04em;
  margin-bottom: 2rem;
}

.main ul, li{
  font-family: "ClashGrotesk-Medium", sans-serif;
  letter-spacing: .01em;
}





.footer {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--background);
  color: #000;
  gap: 50px;
  border-style: none solid solid;
  border-width: 0.1em;
  border-radius: 0em 0em 1em 1em;
  border-color: var(--text);
  width: 64%;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.8em 0em inset;
}


.small{
  max-width: 280px;
  height: auto;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1rem;


}

.center{
  text-align: center;
}

.center hr{
  width: 70%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, var(--bord), var(--air), var(--bord));
  margin-top: 1rem;
  margin-bottom: 3rem;
}


.logo{
  width:60;
  height:60;
  margin-bottom: 0px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}

.icon{
  width:25;
  height:25;
  margin-top: 2px;
  margin-left: 30px;
  padding-right: 10px;
  opacity: 20%;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  display: block;
}


.orange {
  color: var(--marin);
  position: relative;
  text-decoration: none;
}
.orange:before, .orange:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--marin);
}
.orange:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.orange:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.orange:hover:before, .orange:hover:after, .orange:focus:before, .orange:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.orange:hover:before, .orange:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.orange:hover:after, .orange:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}


#pad{

  padding-left: 100px;
  padding-right: 100px;
}

.right{
  float: right;
}

.text-left{
  text-align: left;
}

.yt {
  width:40%;
  height:394px;
  margin: 10px;

}

.txtL{
  text-align: left;
  padding-right: 70px;
  padding-left: 70px;
  font-weight: 600;
  font-size: 112px;
  font-family: 'Redaction10';
  font-weight: 100;
  color: var(--button);
}

.txt{
  text-align: left;
  padding-right: 16rem;
  padding-left: 16rem;
  padding-bottom: 1rem;
}


.images{
  width: 520px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  color:#000000;

}

.images-no{
  width: 520px;
  margin-bottom: 20px;

}

ion-icon {
  color: #F66D33;
  padding-right: 10px;
}



.link{
      margin-bottom: -7px;
}


.fade{
  background-color: #f3ec78;
    background-image: linear-gradient(-15deg, #F66D33, #f5b53a, #1888c6);
    animation: change 10s ease-in-out infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText_scroll {
  0% {
    background-position:0
  }
  to {
    background-position:-200%
  }
}
.GradientText{
  color:transparent!important;
  background-image:linear-gradient(90deg,#e51d56,#ff9fcc,#f0b7e8,#e51d56);
  -webkit-background-clip:text;
  -webkit-text-fill-color:"background";
  background-size:200%;
  animation:gradientText_scroll 6s ease-in-out infinite
}

.competence{
margin-left:0;
padding: 0;
padding-right: 1rem;
padding-left: 1rem;
}

.competence li{
  list-style-type:none;
  display:inline-block;
  background-color: var(--crystal);
  padding:.5rem 1.3rem;
  border-radius:3rem;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.35em 0em inset, rgba(255, 255, 255, 0.5) 0em 0.35em 0em inset;

  font-size: 1rem;
  color: var(--bg);

}

.button{
margin-left:0;
padding: 0;
margin-left: 3rem;
margin-right: 3rem;
margin-bottom: 1rem;
}

.button li{
  list-style-type:none;
  display:inline-block;
  padding:.6rem 0rem;
  margin-bottom:1.5rem;
  margin-top: -1rem;
}

.button a{
  background-color: white;
  padding:.6rem 1rem;
  border-radius:100px;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:0.1rem solid var(--text);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  font-size: 20px;
  color: #F66D33;
}

.top-nav{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 60px;

}

.top-nav li{
  list-style-type:none;
  display:inline-block;
  padding:.6rem 0rem;
  margin-bottom:1.5rem;
}

.tools{
margin-left:0;
padding: 0;
}

.tools li{
  list-style-type:none;
  display:inline-block;
}

.tools i{
  margin: 0rem 0.5rem 0rem 0rem;
}




/*
.top-nav a{
  background-color: white;
  padding:.6rem 1rem;
  border-radius:100px;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:2px solid #4F221F;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  font-size: 20px;
  color: #F66D33;
}
*/
.cent-nav{
margin: 0;
padding: 0;
}

.cent-nav li{
  list-style-type:none;
  display:inline-block;
  padding: 0;
}

.cent-nav a{
  font-size: 1.25rem;
    margin-left:1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.cent-nav i{
  margin-right:0.5rem;
}

.nav{
margin-left:0;
padding: 0;


}

.nav li{
  list-style-type:none;
  display:inline-block;
  padding: 0;

}

.nav a{
  font-size: 1.25rem;
    margin-left:3rem;
    cursor: pointer;
    text-shadow: 0 0 1.2rem var(--bg);
}

.nav i{
  margin-right:0.4rem;
}


.association{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.association li{
  list-style-type:none;
  display:inline-block;
  padding: 0;
  margin-top: 0.5rem;
}

.association a{
  margin-right:1rem;
  margin-left:1rem;
}

.association i{
  margin-right:0.5rem;
}

.contact-me{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.contact-me li{
  list-style-type:none;
  display:inline-block;
  padding: 0;

}

.contact-me a{
  padding: 0;
  font-size: 24px;
}

.contact-me i{
  margin-right:0.25rem;
}



  /* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;


}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;

}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;

}


/*

for zoom animation
uncomment this part if you haven't added this code anywhere else

*/
/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/

/* Styles for dialog window */
#small-dialog {
	padding: 40px 50px;
	max-width: 600px;
  position: absolute;
  background-color: #FFFAE9;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

}



* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 2rem;

}



/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 32%; /* IE10 */
  flex: 32%;
  max-width: 32%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.column img {
  margin-top:1rem;
  vertical-align: middle;
  width: 100%;
  border-radius:1rem;
  border:0.1rem solid var(--button);

}

.column iframe {
  margin-top: 14px;
  width: 560px;
  height: 300px;
}

.card {
  position: relative;
  overflow: hidden;
    padding: 0.2rem;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 960px) {
  .column {
    -ms-flex: 47%;
    flex: 47%;
    max-width: 47%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}




.cont{
  padding:2rem;
}

.slider-wrapper{
  position: relative;
  max-width: 99%;
  margin: 0 auto;
}

.slider{
  display:flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem - 0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-type: snap;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin-top: 2rem

}


/*
.slider-nav a{
  width: 5rem;
  height: 1rem;
  border-radius: 10px;
  background-color: white;
  border:2px solid #4F221F;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  font-size: 20px;
  color: #F66D33;
}

.slider-nav a:hover{
  opacity: 1;
}
*/


.comic-button {
  font-family: 'SpaceGrotesk-Bold';
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem 1.7rem;
  font-size: 2rem;
  text-align: center;
  color: var(--marin);
  background-color: #fff;
  border:0.1rem solid var(--button);
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0.2em 0em var(--button);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.comic-button:hover {
  background-color: #fff;
  color: var(--marin);
  border:0.1rem solid var(--button);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0.4em 0em var(--button);
  transform: translateY(-0.2em);

}

.comic-button:active {
  background-color: var(--active);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0em 0em var(--button);
  transform: translateY(0.2em);
}




/* CSS */
.button-33 {
  background-color: var(--crystal);
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.35em 0em inset, rgba(255, 255, 255, 0.5) 0em 0.35em 0em inset, rgba(214,251,31,.2) 0 0rem 2rem;
  color: var(--bg);
  cursor: pointer;
  display: inline-block;
  font-family: "ClashGrotesk-Medium", sans-serif;
  letter-spacing: .01em;

  padding:.5rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33 i{
  margin-right:0.4rem;
}


.button-33:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.35em 0em inset, rgba(255, 255, 255, 0.5) 0em 0.35em 0em inset, rgba(214,251,31,.25) 0 0.3rem 2.2rem;
  transform: scale(1.05) rotate(3deg);
}



.link-button {
  color: var(--bg);
  background-color: var(--crystal);
  list-style-type:none;
  display:inline-block;
  padding:.5rem 1.3rem;
  border-radius:3rem;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.35em 0em inset, rgba(255, 255, 255, 0.5) 0em 0.35em 0em inset;
  font-size: 1rem;




  transition: all 0.2s ease;
  cursor:pointer;

}

.link-button:hover {
  background-color: #fff;
  color: var(--marin);
  border:0.1rem solid var(--button);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0.4em 0em var(--button);
  transform: translateY(-0.2em);
}

.link-button:active {
  background-color: var(--active);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0em 0em var(--button);
  transform: translateY(0.2em);
}



/*

  .slider-container {
    position: relative;
    max-width: 100%;
    height: 77%;
    margin: auto;
    overflow: hidden;
    border-radius:1rem;
    border:0.1rem solid var(--bord);

  }


  .slider-images {
    display:flex;
    transition: transform 0.5s ease;
  }

  .slider-image {
    flex: 0 0 auto;
    width: 100%;
    object-fit: cover;
  }


  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.8em;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s ease;


    border-radius:0.5rem;
    color: var(--air);
    background-color: #fff;
    border:0.1rem solid var(--air);

  }

  .prev {
    left: 1rem;

  }

  .next {
    right: 1rem;
    border-radius:0.5rem;
    color: var(--air);
    background-color: #fff;
    border:0.1rem solid var(--air);

  }


  .prev:hover, .next:hover {
    background-color: #fff;
    border-radius: 100px;
    color: var(--air);
    border:0.1rem solid var(--air);

    border-radius:0.5rem;
  }

  .prev:active, .next:active {
    background-color: var(--active);
    border-radius:0.5rem;
  }

  */


  .swiper {
    height: 80%;
    width: 100%;
    border-radius: 1rem;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .autoplay-progress {
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    z-index: 10;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg);
    font-family: "ClashGrotesk-Medium", sans-serif;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--bg);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


  .swiper-pagination{
    top: 2rem !important;

  }


  :root {

    --swiper-pagination-color: var(--bg);
    --swiper-pagination-bullet-width: 1.5rem;
    --swiper-pagination-bullet-height: 0.6rem;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
    --swiper-pagination-bullet-vertical-gap: 0.5rem;
    --swiper-pagination-bullet-border-radius: 1rem;

  }



  #slider-wrap{
    position: relative;
    width:100%;
  	height:400px;
    list-style: none;
    margin: auto;
    overflow: hidden;
    border-radius:1rem;
    border:0.1rem solid var(--bord);
  }

  #slider-wrap ul#slider{
    list-style: none;
  	position:absolute;
  	top:0;
  	left:0;
  }



  #slider-wrap ul#slider li{
    list-style: none;
  	float:left;
  	position:relative;
  	width:100%;
  	height:400px;

  }



  #slider img{
    object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */

    max-width: 100%;
    max-height: 100%;


}

  }





  #slider-wrap ul#slider li i{
  	text-align:center;
  	line-height:400px;
  	display:block;
  	width:100%;
  	font-size:90px;
  }


  /*btns*/
  .btns{
  	position:absolute;
  	width:50px;
  	height:60px;
  	top:50%;
  	margin-top:-25px;
  	line-height:57px;
  	text-align:center;
  	cursor:pointer;
  	background:rgba(0,0,0,0.1);
  	z-index:100;


  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-khtml-user-select: none;
  	-ms-user-select: none;

  	-webkit-transition: all 0.1s ease;
  	-moz-transition: all 0.1s ease;
  	-o-transition: all 0.1s ease;
  	-ms-transition: all 0.1s ease;
  	transition: all 0.1s ease;
  }

  .btns:hover{
  	background:rgba(0,0,0,0.3);
  }

  #next{right:-50px; border-radius:7px 0px 0px 7px;}
  #previous{left:-50px; border-radius:0px 7px 7px 7px;}
  #counter{
    font-family: "SpaceGrotesk-Bold", sans-serif;
  	top: 30px;
  	right:35px;
  	width:auto;
  	position:absolute;
  }

  #slider-wrap.active #next{right:0px;}
  #slider-wrap.active #previous{left:0px;}


  /*bar*/
  #pagination-wrap{
  	min-width:20px;
  	margin-top:350px;
  	margin-left: auto;
  	margin-right: auto;
  	height:15px;
  	position:relative;
  	text-align:center;
  }

  #pagination-wrap ul {
  	width:100%;
  }

  #pagination-wrap ul li{
  	margin: 0 4px;
  	display: inline-block;
  	width:5px;
  	height:5px;
  	border-radius:50%;
  	background:#fff;
  	opacity:0.5;
  	position:relative;
    top:0;
  }

  #pagination-wrap ul li.active{
    width:12px;
    height:12px;
    top:3px;
  	opacity:1;
  	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
  }

  /*ANIMATION*/
  #slider-wrap ul, #pagination-wrap ul li{
  	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  	transition: all 0.3s cubic-bezier(1,.01,.32,1);
  }







.holy-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programs{
  align-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.programs h2{
  color: var(--title);
  margin: 0;
  font-size: 2rem;
  text-align: left;
}
.programs p{
  color: var(--title);
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}


.parent-container {
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: center; /* Vertically center the grid */

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */
  grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
}

.grid-photos{
  display: grid;
  grid-template-columns: repeat(1, auto);

  margin: 2rem 8rem 2rem 8rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */
  grid-auto-rows: minmax(10px, auto); /* Set minimum and maximum row height */
  place-items: center;

}

.grid-videos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */
  grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
}

.grid-other {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */
  grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
}

.grid-gal {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */
  grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius:1rem;
  border:0.1rem solid var(--bord);
  display: flex;
  cursor: pointer;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.grid-item p{
  color: var(--backdrop);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  margin-top: 1.75rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
}
.grid-item:hover p{
  opacity: 1;
}

.grid-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  margin: 2rem 8rem 2rem 8rem;
}

.grid-block-item {
  background-color: var(--card);
  position: relative;
  overflow: hidden;
  border-radius:1rem;
  border:0.1rem solid var(--button);
  display: flex;
  height: 20rem;
  width: 24rem;

}

.grid-block-title {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 20rem;
  text-align: left;
}

.grid-block-item h2{
  margin-bottom: 0.75rem
}

.grid-block-item p{
  color: var(--backdrop);
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  text-align: left;
}

.grid-block-item:hover p{
  opacity: 1;

}

.grid-block-item img{
  filter: blur(3rem) saturate(1.5);

}



.text-overlay {
  font-family: "Schibsted Grotesk", sans-serif;
  position: absolute;
  border-radius:0rem 1rem 0rem 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem 0rem;
  font-size: 20px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.dark-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4));


}
.dark-overlay p{
  margin-top: 2rem;
  margin-bottom: 0;

}

.dark-overlay ul{
  margin-top: 0.5rem;
  margin-left: 1.75rem;
}



.dark-overlay h2{
  color: var(--backdrop);
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: left;


}



.overlay-button:hover {

}

.overlay-button:active {

}

.dark-overlay .tools{
  margin-right: 27rem;
}


.project-list{
  margin: 0;
  padding: 0;

}

.project-list li{
  font-family: "SpaceGrotesk-Bold", sans-serif;
  color: var(--backdrop);
  float: left;
  display:inline-block;
  list-style-type:none;
  padding:.3rem 0.6rem;
  border-radius:0.5rem;
  margin-left:0.25rem;
  margin-top:0rem;
  border:0.075rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0,0,0,0.15);
  backdrop-filter: blur(0.4rem);
  font-size: 0.9rem;
  letter-spacing: -.025em;
  font-variation-settings: "wght"625;

}


.project-list ol{
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--backdrop);
  float: left;
  display:inline-block;
  list-style-type:none;
  padding:.3rem 0.6rem;
  border-radius:0.5rem;
  margin-left:0.25rem;
  margin-top:0rem;
  border:0.075rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0,0,0,0.15);
  backdrop-filter: blur(0.4rem);
  font-size: 0.9rem;
  letter-spacing: -.025em;
}





.overlay-list{
  margin: 0;
  padding: 0;

}


.overlay-list li{
  font-family: "ClashGrotesk-Medium", sans-serif;
  color: var(--backdrop);
  float: left;
  display:inline-block;
  list-style-type:none;
  padding:.3rem 0.6rem;
  border-radius:0.5rem;
  margin-left:0.25rem;
  margin-top:0rem;
  border:0.075rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0,0,0,0.15);
  backdrop-filter: blur(0.4rem);
  font-size: 0.9rem;
  letter-spacing: .01em;
  font-variation-settings: "wght"625;

}

.overlay-list ol{
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--backdrop);
  float: left;
  display:inline-block;
  list-style-type:none;
  padding:.3rem 0.6rem;
  border-radius:0.5rem;
  margin-left:0.25rem;
  margin-top:0rem;
  border:0.075rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0,0,0,0.15);
  backdrop-filter: blur(0.4rem);
  font-size: 0.9rem;
  letter-spacing: -.025em;
}




.icons{
  width:2rem;
  height:2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.35rem;
  display:inline-block;
  vertical-align: middle;
  border-radius: 0.5rem;
  border:0.075rem solid rgba(255, 255, 255, .3);
}




.focus{
  margin-top: 4rem;
  margin-left: 26%;
  margin-right: 26%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr auto; /* One column for text, one column for image */
  grid-gap: 20px; /* Adjust the gap between text and image */
  align-items: center; /* Center items vertically */
}

.focus h1{
  letter-spacing: -.025em;
  color: var(--title);
  font-size: 3rem;
  margin: 0;
  line-height: 1.2;
  font-variation-settings: "wght"625;
  font-weight: 400;
}


.headington-parent {
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: center; /* Vertically center the grid */

}

.headington-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3rem;
  margin: 2rem 0rem 2rem 0rem;
  position: relative;
}

.headington-item {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 0.5rem;
  width: 20rem;
  height: 20rem;
  align-items: center;
  justify-content: center;


}

.headington-item-r h1{
  font-family: "SpaceGrotesk-Bold", sans-serif;
  letter-spacing: -.025em;
  color: var(--air);
  font-size:2.6rem;
  margin: 0;
  line-height: 1.2;
  font-variation-settings: "wght"625;
  font-weight: 400;

}

.headington-item-r {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 0.5rem;
  width: 25rem;
  height: 20rem;
  align-items: center;

}

.avatar2 {
  overflow: hidden;
  border-radius:50%;
  border:0.1rem solid var(--bord);
  height: auto;
  max-width: 18rem;
  justify-content: right;

}

.avatar2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.avatar {
  overflow: hidden;
  border-radius:50%;
  border:0.1rem solid var(--bord);
  height: auto;
  grid-column: 2 / 3; /* Image occupies second column */
  max-width: 100%; /* Ensure image doesn't exceed its container */
  justify-content: right;

}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin: 2rem 8rem 2rem 8rem;
  align-content: space-between; /* Distribute extra space evenly between grid items */

}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius:1rem;
  border:0.1rem solid var(--button);
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* Containers for INDEX */


.overlay{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--box);


}

.ad{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(74,202,250,0.7) 0%, rgba(50,137,170,0.6) 12%, rgba(0,0,0,0.9) 100%);
}

.ps{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(49,168,255,0.7) 0%, rgba(34,116,176,0.6) 12%, rgba(0,0,0,0.9) 100%);
}

.lr{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(49,168,255,0.7) 0%, rgba(34,116,176,0.6) 12%, rgba(0,0,0,0.9) 100%);
}


.fig{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(242,78,30,0.7) 0%, rgba(167,54,21,0.6) 12%, rgba(0,0,0,0.9) 100%);
}

.dr{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,54,73,0.7) 0%, rgba(176,37,50,0.6) 12%, rgba(0,0,0,0.9) 100%);
}

.bb{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(76,141,209,0.7) 0%, rgba(52,96,142,0.6) 19%, rgba(0,0,0,0.9) 100%);
}



.overlay p{
display:inline-block;
}

.overlay ul{
  margin-left: 1.25rem;
}


.overlay h2{
  color: var(--backdrop);
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-left: 2rem;

  text-align: left;


}

.index-block-item h2{
  margin-bottom: 0.75rem
}

.index-block-item p{
  color: var(--backdrop);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;

  text-align: left;
}

.index-block-item:hover p{
  opacity: 1;

}

.index-block-item img{
  filter: blur(3rem) saturate(1.5);

}


.index-block {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin: 0rem;
}

.index-block-item {

  position: relative;
  overflow: hidden;
  border-radius:1rem;
  border:0.1rem solid var(--bord);
  display: flex;
}









/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 98%;
  max-height: 98%;
  border-radius:1rem;
  border:0.1rem solid #000;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}





/* MEDIA */




@media(max-width:1920px) {

  .hero-heading {
    font-family: "Schibsted Grotesk", sans-serif;
    color: var(--title);
    font-variation-settings: "wght"625;
    letter-spacing: -.025em;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
  }

  .heading{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }

  .header {
    width: 70%;
    gap: 0px;

  }
  .main {
    width: 70%;

  }

  .footer {
    width: 82%;

  }
  .topbar{
    width: 82%;
  }
  .txt{
    padding-right: 10rem;
    padding-left: 10rem;
  }

}

@media(max-width:1640px) {
  .swiper {
    height: 80%;
    width: 100%;
    border-radius: 1rem;
  }

}

@media(max-width:1280px) {

  .header {
    width: 95%;
    gap: 0px;

  }
  .main {
    width: 95%;

  }

  .footer {
    width: 95%;

  }
  .topbar{
    width: 95%;
  }

  .txt{
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .swiper {
    height: 80%;
    width: 100%;
    border-radius: 1rem;
  }


}


@media (max-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    margin: 2rem 0rem 2rem 0rem;
    align-content: space-between; /* Distribute extra space evenly between grid items */
    grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
  }

  .grid-other {

    grid-template-columns: repeat(2, auto);

  }

  .index-block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    margin: 0rem;
  }


  .grid-photos{
    margin: 2rem 1rem 2rem 1rem;
  }

  .comic-button {
    padding: 0.6rem 1.5rem;
    font-size: 1.5rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
  }

  .headington-item {
    width: 19rem;
  }

  .headington-item-r {
    width: 20rem;
    height: 20rem;

  }
  .headington-item-r h1{
    font-size: 2.05rem;
  }

  .txt{
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .slider-container {
    width: 92%;


  }
  .swiper {
    height: 60%;
    width: 100%;
    border-radius: 1rem;
  }


}

@media (max-width: 868px) {

  .heading h1{
    font-size: 3rem;
  }

  .heading svg{
    width: 3rem;
    margin-right: 0.5rem;
  }
  .button{
    margin-bottom: 0.5rem;
  }
  .swiper {
    height: 55%;
    width: 100%;
    border-radius: 1rem;
  }


}

@media (max-width: 768px) {

  .grid-gal {

    grid-template-columns: repeat(2, auto);

  }

  .hero-heading{
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }
  .logo{
    width:3rem;
    height:3rem;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 0;
  }

  .headington-block {
    gap: 0.5rem;
  }

  .headington-item {
    width: 16rem;
    height: 16rem;
  }
  .headington-item-r {
    width: 15rem;
    height: 16rem;
  }
  .headington-item-r h1{
    font-size: 1.5rem;
  }

  .txt{
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .swiper {
    height: 50%;
    width: 100%;
    border-radius: 1rem;
  }

}

@media(max-width:720px) {


  .yt {
    width:460px;
    height:259px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .txtL{
    padding-bottom: 10px;
    font-size: 76px;
  }


  .heading h1{
    font-size: 2.25rem;

  }
  .heading svg{
    width: 2.25rem;
    margin-right: 0.4rem;
  }

  .swiper {
    height: 45%;
    width: 100%;
    border-radius: 1rem;
  }

}


@media(max-width:600px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1.5rem;
    margin: 2rem 0rem 2rem 0rem;
    align-content: space-between; /* Distribute extra space evenly between grid items */
    grid-auto-rows: minmax(1rem, auto); /* Set minimum and maximum row height */
  }

  .grid-gal {
    grid-template-columns: repeat(1, auto);
  }

  .grid-videos {

    grid-template-columns: repeat(1, auto);

  }
  .grid-other {

    grid-template-columns: repeat(1, auto);

  }



  .index-block {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;

  }

  .headington-block {
    grid-template-columns: 1fr; /* Change to a single column */
    gap: 1rem;
  }


  .headington-item-r {
    height: 8rem;
    width: 17rem;
    order: 1; /* Change the order for smaller screens */
  }

  .headington-item-r h1{
    font-size: 1.77rem;
  }

  .headington-item {
    order: 1; /* Change the order for smaller screens */
    height: 16.3rem;
    width: 17rem;
  }





  .txt{
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .hero-heading{
    font-size: 2rem;
    margin-top: 3.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .nav{
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .nav a{
    margin-left:1rem;
  }

  a{
    font-size: 1.5rem;

  }

  p{
      font-size: 16px;
  }


  .button{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }


  .yt {
    width: 320px;
    height: 180px;
    margin-top: 20px;
  }

  .txtL{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 64px;
    text-align: center;
  }

  .images{
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px;
    margin-bottom: 20px;
  }

  .images-no{
    width: 300px;
    margin-bottom: 20px;
  }

  .remove-me {
    display: none;
}

.heading{
  justify-content: center;
  margin-top: 3.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.heading h1{
  font-size: 2rem;
}
.heading svg{
  width: 2rem;
  margin-right: 0.4rem;
}

.txt{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}



.overlay p{
display:inline-block;
}

.overlay ul{
  margin-left: 1.25rem;
}
.overlay li{
  margin-top: 0.25rem;
  font-size: 0.75rem;
}



.overlay h2{
  color: var(--backdrop);
  font-size: 1.2rem;
  margin-top: 1.75rem;
  margin-left: 2rem;
  margin-bottom: 0;

  text-align: left;


}

.swiper {
  height: 38%;
  width: 100%;
  border-radius: 1rem;
}



}

@media(max-width:480px) {

  .hero-heading{
    font-size: 1.6rem;
    margin-top: 3.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .heading{
    display: flex;
    justify-content: center;
    margin-top: 3.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .heading h1{
    font-size: 1.6rem;


  }
  .heading svg{
    width: 1.6rem;

  }
  .txt{
    padding-right: 2rem;
    padding-left: 2rem;
  }


  .nav a{
    font-size: 1.4rem;
  }
  .nav i{
  }

  .logo{
    width:2.25rem;
    height:2.25rem;
    margin-bottom: 0px;
    margin-left: 2rem;
    margin-right: 0rem;
    display: flex;
    justify-content: flex-end;
  }

  .button{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .comic-button {
    padding: 0.4rem 1.3rem;
    font-size: 1.3rem;
    margin-right:0.5rem;
    margin-left:0.5rem;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
  }
  .swiper {
    height: 30%;
    width: 100%;
    border-radius: 1rem;
  }

}

@media(max-width:420px) {
  .swiper {
    height: 25%;
    width: 100%;
    border-radius: 1rem;
  }
}
