@font-face {
  font-family: 'Basteleur';
  src: local('☺'),
       url('fonts/Basteleur-Bold.woff') format('woff'),
       url('fonts/Basteleur-Bold.otf') format('opentype');
      font-style: normal;
}


@font-face {
  font-family: 'NectoMono';
  src: local('☺'),
       url('fonts/NectoMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Redaction10';
  src: local('☺'),
       url('fonts/Redaction10-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Redaction10-Bold';
  src: local('☺'),
       url('fonts/Redaction10-Bold.otf') format('opentype');
}


.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


:root {
  --marin: #2a4073;
  --button: #0f2350;
  --title: #0f2350;
  --background: #fdfbf4;
  --backdrop: #fbfaf5;
  --border:#17184b;
  --text: #0d0015;
  --tool: #f7fcfe ;
}

html{
  scrollbar-color: var(--marin) var(--backdrop);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}


body{
  letter-spacing: 0px;
  overflow-x:hidden;
  /*
  background: rgb(212,197,146);
  background: linear-gradient(0deg, rgba(212,197,146,1) 0%, rgba(234,224,190,1) 35%);
  */
  margin: 0.5rem;
  overscroll-behaviour:none;
  font-size: .875rem;
  line-height: 1.4;
}
}



@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.hero-heading {
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--title);
  font-variation-settings: "wght"625;
  letter-spacing: -.025em;
  margin:5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.1;

}

h1{
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 62px;
  margin-top: 0;
  color: var(--title);
  letter-spacing: -.025em;
}

h2{
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 20px;
  color: var(--background);
  font-weight: 100;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 7px;
  letter-spacing: -.025em;
  font-variation-settings: "wght"625;
}

h3{
  font-family: 'Redaction10';
  font-size: 42px;
  margin-top: 0;
  font-weight: 100;
  color: var(--marin);
}

h4{
  font-family: 'Redaction10';
  font-size: 120px;
  margin-top: 0;
  font-weight: 100;
  color: var(--marin);

}

a{
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 32px;
  margin: 0px;
  text-decoration: none;
  font-variation-settings: "wght"625;
  letter-spacing: -.025em;

}

p{
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 1rem;
  margin: 0px;
  color: var(--text);
  line-height: 1.4;
  letter-spacing: -.025em;
}

li{
    font-family: 'Redaction10';
    color: var(--marin);
}

hr{
  border: 1px dashed var(--text);
  width: 70%;
}

.topbar {
  border-radius: 1em 1em 0em 0em;
  border-style: solid ;
  border-width: 0.1em;
  border-bottom: 0px;
  width: 70%;
  margin:0 auto;

  /*
  background-image:linear-gradient(-15deg, #F66D33, #f5b53a, #1888c6);
  animation: change 10s ease-in-out infinite;
  background-size: 200% 200%;
  */
  background-color: var(--marin);
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0em -0.3em 0em inset, rgba(61, 87, 145, 1) 0em 0.3em 0em inset;

}

.header {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--background);
  color: #000;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--text);
  width: 70%;
  margin:0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
}


.main {
  background-color: var(--background);
  border-style: none solid solid;
  border-width: 0.1em;
  width: 70%;
  margin:0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  border-color: var(--text);

  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
}

.footer {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--background);
  color: #000;
  gap: 50px;
  border-style: none solid solid;
  border-width: 0.1em;
  border-radius: 0em 0em 1em 1em;
  border-color: var(--text);
  width: 70%;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
}


.small{
  max-width: 280px;
  height: auto;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 30px;


}

.center{
  text-align: center;
}


.logo{
  width:60;
  height:60;
  margin-bottom: 0px;
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.logo{
  width:60;
  height:60;
  margin-bottom: 0px;
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}

.icon{
  width:25;
  height:25;
  margin-top: 2px;
  margin-left: 30px;
  padding-right: 10px;
  opacity: 20%;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  display: block;
}


.orange {
  color: var(--marin);
  position: relative;
  text-decoration: none;
}
.orange:before, .orange:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--marin);
}
.orange:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.orange:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.orange:hover:before, .orange:hover:after, .orange:focus:before, .orange:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.orange:hover:before, .orange:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.orange:hover:after, .orange:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}


#pad{

  padding-left: 100px;
  padding-right: 100px;
}

.right{
  float: right;
}

.text-left{
  text-align: left;
}

.yt {
  width:40%;
  height:394px;
  margin: 10px;

}

.txtL{
  text-align: left;
  padding-right: 70px;
  padding-left: 70px;
  font-weight: 600;
  font-size: 112px;
  font-family: 'Redaction10';
  font-weight: 100;
  color: var(--button);
}

.txt{
  text-align: left;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 20px;
}


.images{
  width: 520px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  color:#000000;

}

.images-no{
  width: 520px;
  margin-bottom: 20px;

}

ion-icon {
  color: #F66D33;
  padding-right: 10px;
}

.navbar {
    margin-top: 0px;
}

.link{
      margin-bottom: -7px;
}


.fade{
  background-color: #f3ec78;
    background-image: linear-gradient(-15deg, #F66D33, #f5b53a, #1888c6);
    animation: change 10s ease-in-out infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@keyframes gradientText_scroll {
  0% {
    background-position:0
  }
  to {
    background-position:-200%
  }
}
.GradientText{
  color:transparent!important;
  background-image:linear-gradient(90deg,#e51d56,#ff9fcc,#f0b7e8,#e51d56);
  -webkit-background-clip:text;
  -webkit-text-fill-color:"background";
  background-size:200%;
  animation:gradientText_scroll 6s ease-in-out infinite
}

.competence{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;
}

.competence li{
  list-style-type:none;
  display:inline-block;
  background-color: white;
  padding:.6rem 1rem;
  border-radius:0.5rem;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:0.1rem solid var(--text);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  font-size: 20px;
}

.button{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.button li{
  list-style-type:none;
  display:inline-block;
  padding:.6rem 0rem;
  margin-bottom:1.5rem;
}

.button a{
  background-color: white;
  padding:.6rem 1rem;
  border-radius:100px;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:0.1rem solid var(--text);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  font-size: 20px;
  color: #F66D33;
}

.top-nav{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 60px;

}

.top-nav li{
  list-style-type:none;
  display:inline-block;
  padding:.6rem 0rem;
  margin-bottom:1.5rem;
}

.tools{
margin-left:0;
padding: 0;
}

.tools li{
  list-style-type:none;
  display:inline-block;
}

.tools i{
  margin: 0rem 0.5rem 0rem 0rem;
}


/*
.top-nav a{
  background-color: white;
  padding:.6rem 1rem;
  border-radius:100px;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:2px solid #4F221F;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  font-size: 20px;
  color: #F66D33;
}
*/

.nav{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.nav li{
  list-style-type:none;
  display:inline-block;
  padding: 0;

}

.nav a{
  margin-left:2rem;
}

.nav i{
  margin-right:0.5rem;
}


.association{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.association li{
  list-style-type:none;
  display:inline-block;
  padding: 0;
  margin-top: 0.5rem;
}

.association a{
  margin-right:1rem;
  margin-left:1rem;
}

.association i{
  margin-right:0.5rem;
}

.contact-me{
margin-left:0;
padding: 0;
padding-right: 10px;
padding-left: 10px;

}

.contact-me li{
  list-style-type:none;
  display:inline-block;
  padding: 0;

}

.contact-me a{
  padding: 0;
  font-size: 24px;
}

.contact-me i{
  margin-right:0.25rem;
}



@media(max-width:1680px) {
  .header {
    width: 99%;
    gap: 0px;

  }
  .main {
    width: 99%;

  }
  .footer {
    width: 99%;

  }
  .topbar{
    width: 99%;
  }

}

@media(max-width:1080px) {
  .yt {
    width:560px;
    height:315px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .txtL{
    font-size: 96px;
  }

}

@media(max-width:720px) {
  .yt {
    width:460px;
    height:259px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .txtL{
    padding-bottom: 10px;
    font-size: 76px;
  }

  .top-nav{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

}


@media(max-width:600px) {
  a{
    font-size: 24px;
  }

  h1{
    font-size: 32px;
    padding-bottom: 20px;
  }

  p{
      font-size: 16px;
  }

  .navbar {
      margin-top: 14px;
  }

  .logo{
    width:42;
    height:42;
    padding-top: 11px;
    padding-bottom: 11px;

  }

  .yt {
    width: 320px;
    height: 180px;
    margin-top: 20px;
  }

  .txtL{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 64px;
    text-align: center;
  }

  .txt{
    padding-right: 45px;
    padding-left: 45px;
  }

  .images{
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px;
    margin-bottom: 20px;
  }

  .images-no{
    width: 300px;
    margin-bottom: 20px;
  }

  .remove-me {
    display: none;
}

}




  /* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;


}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;

}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;

}


/*

for zoom animation
uncomment this part if you haven't added this code anywhere else

*/
/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/

/* Styles for dialog window */
#small-dialog {
	padding: 40px 50px;
	max-width: 600px;
  position: absolute;
  background-color: #FFFAE9;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

}



* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 20px;
}



/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column img {
  margin-top: 14px;
  vertical-align: middle;
  width: 100%;
}

.column iframe {
  margin-top: 14px;
  width: 560px;
  height: 300px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 960px) {
  .column {
    -ms-flex: 47%;
    flex: 47%;
    max-width: 47%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}




.cont{
  padding:2rem;
}

.slider-wrapper{
  position: relative;
  max-width: 99%;
  margin: 0 auto;
}

.slider{
  display:flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem - 0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-type: snap;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin-top: 2rem

}


/*
.slider-nav a{
  width: 5rem;
  height: 1rem;
  border-radius: 10px;
  background-color: white;
  border:2px solid #4F221F;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  font-size: 20px;
  color: #F66D33;
}

.slider-nav a:hover{
  opacity: 1;
}
*/


.comic-button {
  font-family: 'Redaction10';
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  font-size: 30px;
  text-align: center;
  color: var(--marin);
  background-color: #fff;
  border:0.1rem solid var(--button);
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0.2em 0em var(--button);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right:0.5rem;
  margin-left:0.5rem;
}

.comic-button:hover {
  background-color: #fff;
  color: var(--marin);
  border:0.1rem solid var(--button);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0.4em 0em var(--button);
  transform: translateY(-0.2em);

}

.comic-button:active {
  background-color: var(--backdrop);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset, 0em 0em 0em var(--button);
  transform: translateY(0.2em);
}




.tool-button {
  font-family: 'Redaction10';
  color: var(--marin);
  background-color: #fff;
  list-style-type:none;
  display:inline-block;
  padding:.6rem 1rem;
  border-radius:0.5rem;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-bottom:1.5rem;
  border:0.1rem solid var(--text);
  box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  font-size: 20px;
  transition: all 0.2s ease;

}

.tool-button:hover {

}

.tool-button:active {

}





/* CSS for the slider container */
  .slider-container {
    position: relative;
    width: 92%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius:1rem;
    border:0.1rem solid var(--button);
  }

  /* CSS for the slider images */
  .slider-images {
    display: flex;
    transition: transform 0.5s ease; /* Simple animation when scrolling to the next image */
  }

  .slider-image {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* CSS for arrow buttons */
  .prev, .next {
    position: absolute;
    top: 46%;
    padding: 0.8em;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s ease;
    margin-left: 1rem;

    border-radius:0.5rem;
    color: var(--marin);
    background-color: #fff;
    border:0.1rem solid var(--button);
    box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  }

  .next {
    right: 1rem;
    border-radius:0.5rem;
    color: var(--marin);
    background-color: #fff;
    border:0.1rem solid var(--button);
    box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
  }

  /* CSS for hover effect on arrow buttons */
  .prev:hover, .next:hover {
    background-color: #fff;
    border-radius: 100px;
    color: var(--marin);
    border:0.1rem solid var(--button);
    box-shadow: rgba(0, 0, 0, 0.1) 0em -0.3em 0em inset;
    transform: translateY(-0.2em);
    border-radius:0.5rem;
  }


  .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 10rem 2rem 10rem;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius:1rem;
  border:0.1rem solid var(--button);
  display: flex;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-overlay {
  font-family: "Schibsted Grotesk", sans-serif;
  position: absolute;
  border-radius:0rem 1rem 0rem 1rem;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem 3rem;
  font-size: 20px;
}
